@charset "utf-8";

:root {
  --page-width: 1140px;
  --default-font-color: #eee;
  --header-color: #831a1a;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

header, nav, footer {
  flex: 0 0 auto;
}

.header-section {
  background: linear-gradient(90deg, var(--header-color), rgba(127, 26, 26, .5));
  display: flex;
  flex: 0 0 auto;
}

.main-section {
  flex: 1 0 auto;
}

header {
  background: linear-gradient(90deg, var(--header-color), rgba(127, 26, 26, .5));
}

.header-innner {
  align-items: baseline;
  color: var(--default-font-color);
  margin: 0 auto;
  max-width: var(--page-width);
  padding: 10px;
}

/* グローバルナビゲーション */
.nav-inner {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--page-width);
}

.header-innner a {
  border-bottom: 2px solid transparent;
  color: var(--default-font-color);
  display: block;
  padding: 3px;
  text-decoration: none;
}

.nav-logo {
  font-family: 'Kalam', cursive;
  font-size: 1.8rem;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.navbar li {
  padding: 10px 8px;
}

.navbar a:link, .navbar a:visited {
}

.navbar a:hover, .navbar a:active {
  border-bottom: 2px solid var(--default-font-color);
  transition: 0.3s border;
}

.nav-logo a, .nav-logo a:link, .nav-logo a:visited, .nav-logo a:hover, .nav-logo a:active {
  align-items: center;
  display: flex;
}

.nav-logo img {
  margin-right: 0.5rem;
  width: 2.3rem;
}

.main-header-inner {
  flex: 1 0 auto;
  margin: 0 auto;
  max-width: var(--page-width);
  padding: 60px 0;
}

.main-message {
  color: var(--default-font-color);
  position:absolute;
  z-index: 0;
}

.main-visual {
  background: url(../image/main-visual.png) no-repeat right top;
  position:relative;
  height: 334px;
  z-index: -999;
}

.main-message {
  font-size: 2.3rem;
  line-height: 1.3em;
  padding: 40px 0 0 60px;
}

.main-inner {
  margin: 0 auto;
  max-width: var(--page-width);
}

.footer-inner {
  background-color: silver;
}

.footer-main {
  max-width: var(--page-width);
  margin: 0 auto;
}
